.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build


.idea/

# Not include images.
/app/src/main/res/drawable-hdpi/*.png
!/app/src/main/res/drawable-hdpi/ic_launcher.png
